body{
  font-family: "Proxima Nova";
  font-weight: 400;
  line-height: 1.2;
}
@color_1: inherit;
@font_family_1: monospace, monospace;
@font_family_2: inherit;
@background_color_1: transparent;
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: @font_family_1;
  font-size: 1em;
}
a {
  background-color: @background_color_1;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b {
  font-weight: bolder;
}
strong {
  font-weight: bolder;
}
code {
  font-family: @font_family_1;
  font-size: 1em;
}
kbd {
  font-family: @font_family_1;
  font-size: 1em;
}
samp {
  font-family: @font_family_1;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
img {
  border-style: none;
  max-width: @width;
  height: auto;
}
button {
  font-family: @font_family_2;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}
input {
  font-family: @font_family_2;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}
optgroup {
  font-family: @font_family_2;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
select {
  font-family: @font_family_2;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
}
textarea {
  font-family: @font_family_2;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
}
[type="button"] {
  -webkit-appearance: button;
  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}
[type="reset"] {
  -webkit-appearance: button;
  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}
[type="submit"] {
  -webkit-appearance: button;
  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: @color_1;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"] {
  &::-webkit-inner-spin-button {
    height: auto;
  }
  &::-webkit-outer-spin-button {
    height: auto;
  }
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}