@import "_fonts";
@import "_variables";
@import "_reset";

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}

.hero-section {
  &:extend(.fullwidth);
  background-image: url("../img/header bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  &:extend(.fullwidth);
}

//first section
.section-first {
  &:extend(.fullwidth);
}

.hero-wrapper {
  padding: 50px 0 95px 0;
}

.logo-mobile {
  display: none;
}
.hero-heading {
  margin: 0 auto 35px auto;
    @{fs}: 36px;
  color: rgb(255, 255, 255);
  width: @width;
  max-width: 785px;
  p {
    margin: 0px;
  }
}

.hero-description {
    @{fs}: 18px;
  color: rgb(255, 255, 255);
  width: @width;
  max-width: 750px;
  margin: 0 auto;
  p {
    margin: 0px
  }
}
.w-760{max-width: 760px;width:@width;margin: 0 auto;}
.logo {
  margin-bottom: 50px;
  margin-top: 95px;
  img{
    max-width: 215px;
    margin: 0 auto;
  }
}

//second section

.partners {
  .fullwidth();
  text-align: center;
  padding: 100px 0;
}

.partners-heading {
  margin: 0 auto 50px auto;
    @{fs}: 24px;
  color: #000;
  .fullwidth();
}

.partners-logo-fluid {
  &:after{
    content: '';
    background: #ededed;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 82px;
    height: 82px;
    z-index: -1;
    max-width: 80px;
  }
  width: @width;
  position: relative;
  height: 70px;
  text-align: center;
  .flex();
  align-items: center;

  img{
    max-width: 111px;
    height: auto;
    max-height: 65px;
    margin: 0 auto;
    display: block;
  }

}
.partner-col{
  margin-right: 25px;
  &:last-child{
    margin-right: 0px;
  }
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

//Thirteen section
.offer {
  .fullwidth();
  margin-top: -45px;
  min-height: 700px;
  background-image: url("../img/layer-ellipse.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.row_2 {
  .fullwidth();
  text-align: center;
  margin: 0 auto;
}

.offer-inner {
  padding: 234px 0;
  text-align: center;
}

.offer-heading {
    @{fs}: 36px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 0px;
}

.offer-description{
  margin: 35px 0;
    @{fs}: 24px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.offer-form{
  input{
    max-width: 290px;
    width: @width;
    height: 48px;
    padding: 20px 25px;
    border: none;
    &:focus{
      box-shadow: none;
    }
  }
  form {
    .fullwidth();
    text-align: center;
  }
  margin: 0px;
}
.input-offer{max-width: 498px;width: @width;    margin: 0 auto;
  display: block;}
.service-inner{
  .fullwidth();
  padding:  0 15px;
  margin-top: 100px;
}
.service-icon{
  text-align: center;
  img{
    max-width: 370px;
  }
}
.btn-offer{
    @{fs}: 18px;height: 48px;
  padding: 15px 30px;
  line-height: normal;
  background: #296cfc;
  color:#FFF;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 207px;
  width: @width;
  &:hover{
    color: #fff;
  }
}
.form-control {
  width: 100%;
  max-width: 250px;
}
.services{
  padding-bottom: 100px;
}
.offer-desc-rel{
  max-width: 730px;
  width: @width;
  margin: 0 auto 35px auto;
  display: block;}
.note-form{
  .fullwidth();
    @{fs}: 14px;
  color: #FFF;
  margin-top: 35px;
  text-align: center;
}

.service-heading {
    @{fs}: 36px;
  color: rgb(1, 1, 1);
  font-weight: bold;
  line-height: 0.833;
  .fullwidth();    margin: 0 0 40px 0;
}

.service-description {
    @{fs}: 18px;
  color: rgb(1, 1, 1);
  line-height: 1.667;
  .fullwidth();
  margin: 0px;
}

.service-reverse{
  .service-heading,.service-description{
    text-align: right;
  }

}
.offer.offer-dark {
  background-image: url("../img/layer-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

@media (max-width: 768px) {
  .hero-wrapper{
    padding: 0px 0px 95px 0;
  }

  .logo-web {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .hero-heading{
      @{fs}: 30px;
  }
  .partner-col{display: none}
  .partner-col:nth-of-type(1),
  .partner-col:nth-of-type(2){display: block;    width: 41%;
    float: left;}
  .offer-inner{padding: 135px 0}
  .btn-offer{
    margin-top: 30px;
  }
  .offer-form input{text-align: center;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    width: @width !important;
    max-width: 100%;
  }
  .btn-offer{max-width: 218px;width: 100%}
  .service-heading{margin-top: 50px;}
  .services,.service-reverse .service-heading, .service-reverse .service-description{text-align: center}
  .offer-inner{padding: 115px 0}
  .note-form{margin-top: 30px}
  .service-icon img{max-width: 100%}
}